/* ===== ESTILO GENERAL ===== */

body{
  font-family: 'Molengo', sans-serif;
  background:#f9f9fb;
  margin:0;
  padding:0;
  color:#333;
  font-size:20px;
  padding-bottom:50px;
}

body::before{
  content:"";
  position:fixed;
  inset:0;
  z-index:-1;

  background: linear-gradient(
    to bottom,
    #dff4ff 0%,
    #eaf8ff 6%,
    #ffffff 12%,
    #ffffff 100%
  );
}

/* TITULO */

h1{
  font-family:'Pacifico', cursive;
  text-align:center;
  margin:40px 0 30px 0;
  font-size:60px;
  color: #ff8b8b;
  font-weight:400;
}

/* CONTENEDOR CENTRADO */

.grid-autores{
  max-width:400px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:12px;
  padding:0 15px;
}

/* TARJETA */

.autor-item{
  background:#ffffff;
  border-radius:12px;
  padding:16px 20px;
  box-shadow:0 2px 6px rgba(0,0,0,0.08);
  transition:all .18s ease;
  text-align:center;
  background:#ffffff;
  border:2px solid #e6f2f8;
  font-size:25px;
}

/* LINK */

.autor-item a{
  text-decoration:none;
  color:#2198a6;
}

/* NOMBRE */

.autor-nombre{
  font-size:17px;
  font-weight:600;
}

/* CONTADOR */

.autor-cantidad{
  font-size:14px;
  color:#777;
  margin-left:10px;
}

/* HOVER */

.autor-item:hover{
  transform:translateY(-3px);
  box-shadow:0 5px 14px rgba(0,0,0,0.12);
}

/* ===== CELULAR ===== */

@media (max-width:600px){

  h1{
    font-size:32px;
  }

  .autor-nombre{
    font-size:18px;
  }

}