/* ===== ESTILO GENERAL ===== */

.contenido {
  color:#333;
  font-size:20px;
  padding:20px;
  margin:0 auto;
}

/* TITULO */

h1{
  font-family:'Pacifico', cursive;
  text-align:center;
  margin:40px 0 30px 0;
  font-size:60px;
  color: #ff8b8b;
  font-weight:400;
}

/* CONTENEDOR CENTRADO */

.grid-autores{
  max-width:400px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:12px;
  padding:0 15px;
}

/* TARJETA */

.autor-item{
  background:#ffffff;
  border-radius:12px;
  padding:16px 20px;
  box-shadow:0 2px 6px rgba(0,0,0,0.08);
  transition:all .18s ease;
  text-align:center;
  background:#ffffff;
  border:2px solid #e6f2f8;
  font-size:25px;
}

/* LINK */

.autor-item a{
  text-decoration:none;
  color:#2198a6;
}

/* NOMBRE */

.autor-nombre{
  font-size:17px;
  font-weight:600;
}

/* CONTADOR */

.autor-cantidad{
  font-size:14px;
  color:#777;
  margin-left:10px;
}

/* HOVER */

.autor-item:hover{
  transform:translateY(-3px);
  box-shadow:0 5px 14px rgba(0,0,0,0.12);
}

/* ===== CELULAR ===== */

@media (max-width:600px){
.contenido {
  padding:12px;

}
  
  .autor-nombre{
    font-size:18px;
  }

}

.logo{
  top: 0px;
  text-align: left;

  z-index: 9999;
}

.logo a{
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  text-decoration: none;
  font-weight: 200;
  color: #ff8b8b;
}

.logo a:hover{
  opacity: 0.7;
}

@media (max-width:600px){

  /* CONTENEDOR */
  .grid-autores{
    max-width:100%;
    padding:0 12px;
    gap:14px;
  }

  /* TARJETA */
  .autor-item{
    font-size:18px;
    padding:14px;
    border-radius:10px;
    align-items:center;
  }

  /* LINK (nombre autor) */
  .autor-item a{
    font-size:20px;
    font-weight:600;
  }

  /* TEXTO cantidad */
  .autor-item{
    line-height:1.4;
  }

  .contenido{
    padding:12px;
  }

  h1{
    font-size:42px;
    margin-bottom:0px;
    margin-top: 30px;
  }

}
