/* ⭐ PAGINA */

html {
  scroll-behavior: smooth;
}

body{
  display: none;
  font-family: 'Molengo', Arial, sans-serif;
  margin:0;
  background-color:#ffffff; /* base sólida */
}

/* ⭐ fondo degradado separado */
body::before{
  content:"";
  position:fixed;
  inset:0;
  z-index:-1;

  background: linear-gradient(
    to bottom,
    #dff4ff 0%,
    #eaf8ff 6%,
    #ffffff 12%,
    #ffffff 100%
  );
}

/* ⭐ BARRA USUARIO (arriba derecha) */

.barra-usuario{
  position:absolute;
  top:10px;
  right:20px;
  display:flex;
  align-items:center;
  gap:10px;
  font-family:'Molengo', serif;
  z-index:1000;
}

/* nombre usuario */
#nombre-usuario{
  font-size:16px;
  color:#ff8b8b;
  font-weight:500;
}

/* contenedor del botón */
.usuario-menu{
  position:relative;
}

/* Botón de usuario con imagen */
#btn-usuario {
  background: transparent; /* Sin fondo */
  border: none;            /* Sin borde */
  cursor: pointer;         /* Mano al pasar el mouse */
  padding: 0;              /* Sin padding extra */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#btn-usuario img {
  width: 32px;   /* Ajusta el tamaño de la imagen */
  height: 32px;
  object-fit: contain; /* Para que la imagen no se deforme */
  transition: transform 0.2s; /* Animación suave */
}

#btn-usuario:hover img {
  transform: scale(1.1); /* Efecto zoom al pasar el mouse */
}

/* ⭐ MENÚ DESPLEGABLE */

.menu-desplegable{
  display:none;
  position:absolute;
  right:0;
  top:45px;
  background:#ffe4d2;
  border-radius:12px;
  padding:6px 0;
  min-width:160px;
  box-shadow:0 6px 18px rgba(0,0,0,0.15);
  z-index:1000;
  align-items:center;
  overflow: hidden;
}

/* links del menú */
.menu-desplegable a{
  display:block;
  padding:10px 14px;
  text-decoration:none;
  color:black;
  font-size:14px;
  font-family:'Molengo', serif;
  transition:0.2s;
}

/* hover */
.menu-desplegable a:hover{
  background:#ffd2b8;
}

/* estado visible */
.menu-desplegable.activo{
  display:block;
}


/* ⭐ RESPONSIVE (celular) */
@media (max-width:500px){

  .barra-usuario{
    top:8px;
    right:12px;
    gap:6px;
  }

  #nombre-usuario{
    font-size:14px;
  }

  #btn-usuario{
    width:32px;
    height:32px;
    font-size:16px;
  }

  .menu-desplegable{
    top:40px;
    min-width:140px;
  }
}

/* ⭐ FOOTER */               /* 👈 */
.bottom-banner{
  width:100%;
  background:#6fc7d3;
  padding:20px 0;
  text-align:center;
}

.bottom-banner a{
  display:block;
  color:white;
  text-decoration:none;
  margin-bottom:10px;
}

.bottom-banner a:hover{
  text-decoration:underline;
}

#scrollTop{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#fff;
  padding:8px;
  border-radius:50%;
  display:none;
  text-decoration: none;
}

.logo-global{
  position:absolute;
  top:10px;
  left:20px;
  z-index:9999;
}

.logo-global a{
  font-family:'Pacifico', cursive;
  font-size:26px;
  color:#ff8b8b;
  text-decoration:none;
}

.logo-global a:hover{
  opacity:0.7;
}
