/* ⭐ PAGINA */

.contenido{
  padding:20px;
  margin:0 auto;
  color:black;
}

/* ⭐ TITULO */

h1{
  text-align:center;
  font-size:70px;
  color:#ff8b8b;
  font-family:'Pacifico', cursive;
  font-weight:400;
  margin-bottom:20px;
  margin-top:0;
}


/* TITULOS DE SECCION */

h2{
  text-align:center;
  margin-top:30px;
  margin-bottom:10px;
  color:#ff8b8b;
  font-size:26px;
  font-weight:600;
}


/* CONTENEDOR GENERAL */

#lista-etiquetas{
  max-width:900px;
  margin:auto;
}


/* GRUPO DE TAGS */

.grupo-tags{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  justify-content:center;
  margin-bottom:20px;
}


/* ETIQUETA */

.tag{
  text-decoration:none;
  color:black;
  background:#ffe4d2;
  border-radius:12px;
  padding:8px 14px;
  font-family:'Molengo', serif;
  font-size:18px;
  transition:0.2s;
}

.tag:hover{
  background:#ffd2b8;
}


/* NUMERO */

.cantidad{
  color:#666;
  margin-left:4px;
}


/* ==============================
   ESTADO DE LECTURA EN TARJETAS
============================== */
.estado-lectura {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 4px 6px;
  margin-bottom: 6px;
  border-radius: 4px;
  display: inline-block;
  background-color: #f0f0f0; /* gris claro */
  color: #333;
}

/* Diferenciar por estado */
.estado-lectura.por-leer {
  background-color: #ffd700; /* dorado */
  color: #000;
}

.estado-lectura.leyendo {
  background-color: #87cefa; /* celeste */
  color: #000;
}

.estado-lectura.leido {
  background-color: #90ee90; /* verde claro */
  color: #000;
}

/* ===== CELULAR ===== */

@media (max-width:500px){

  .contenido{
    padding:12px;
  }

  h1{
    font-size:42px;
    margin-bottom:0px;
    margin-top: 30px;
  }

  h2{
    font-size:22px;
  }

  .grupo-tags{
    gap:8px;
  }

  .tag{
    font-size:14px;
    padding:7px 12px;
  }

}

.tag-error{
  background:#ffd6d6;
  color:#b00000;
  border:2px solid #ff9a9a;
}

.logo{
  top: 0px;
  text-align: left;

  z-index: 9999;
}

.logo a{
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  text-decoration: none;
  font-weight: 200;
  color: #ff8b8b;
}

.logo a:hover{
  opacity: 0.7;
}
