/* ⭐ PAGINA */

.contenido{
  padding:20px;
}


/* ⭐ TITULO: Luna Blanca */

h1{
  text-align:center;
  font-size:70px;
  color:#ff8b8b;
  font-family:'Pacifico', cursive;
  font-weight:400;
  margin-bottom:10px;
  margin-top: 0;
}

h1 a{
  color:#ff8b8b;
  text-decoration:none;
}


/* ⭐ CAJA DE BOTONES buscar y filtros */

.controles{
  text-align:center;
  margin-bottom:20px;
}

/* BUSCADOR Y BOTONES */

.controles input[type="text"]{
  padding:6px 8px;
  border-radius:6px;
  border:none;
  width:220px;
}

.controles button:hover{
  opacity:0.85;
}


/* ⭐ BUSCADOR */

/* contenedor centrado */
.barra-busqueda{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-bottom:12px;
}

/* input bonito */
#buscador{
  border:none;
  padding:8px 14px;
  border-radius:10px;
  background:#fff4ec;
  font-family:'Molengo', serif;
  font-size:15px;
}

/* botones estilo filtros */
.btn-suave{
  background:#ffe4d2;
  border:none;
  padding:12px 20px;
  border-radius:12px;
  font-family:'Molengo', serif;
  font-size:17px;
  cursor:pointer;
  transition:0.2s;
}

.btn-suave:hover{
  background:#ffd2b8;
}


/* FILTROS solo para movil */
.btn-filtros-movil{
  font-size:17px;
  padding:12px 20px;
  border-radius:12px;
  display:none;
}


/* FILTROS */

.fila-filtros{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:8px;
}


/* BOTONES DE LOS FILTROS */

/* DROPDOWN CHECKBOX */
.dropdown {
  display:inline-block;
  position: relative;
}

.dropdownBtn{
  background:#ffe4d2;
  border:none;
  padding:10px 20px;
  border-radius:10px;
  font-family:'Molengo', serif;
  font-size:16px;
  cursor:pointer;
  transition:0.2s;
}

.dropdownBtn:hover{
  background:#ffd2b8;
}

.dropdownBtn.activo{
  background:#ffd2b8; /* mismo color del hover */
}

/* Contenido del dropdown */
.dropdownContenido {
  display: none;
  position: absolute;
  background: #ffe4d2;   /* color igual a los botones */
  padding: 6px;
  border-radius: 8px;
  margin-top: 5px;
  text-align: left;
  min-width: 180px;
  max-height: 200px;   
  overflow-y: auto;    
  z-index: 999;
  color: black;          /* ← texto negro */
}

/* Etiquetas dentro del dropdown */
.dropdownContenido label {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 6px;
  cursor: pointer;
  color: black;          /* ← texto negro */
}

/* Hover de cada opción */
.dropdownContenido label:hover {
  background: #ffd2b8;   /* tono más oscuro del botón para hover */
  color: black;           /* asegura que el texto siga negro al pasar mouse */
}

.dropdownContenido input[type="checkbox"]{
  margin:0;
  width:16px;
  height:16px;
  accent-color:#ff8b8b;
}

.btn-autores{
  padding:10px 20px;
  background:#6fc7d3; /* color más suave */
  color:white;
  text-decoration:none;
  border-radius:10px;
  font-size:16px;
  font-family:'Molengo', sans-serif;
  transition:0.2s;
}

.btn-autores:hover{
  background:#57b6c3;
}


/* BOTONES PARA APLICAR FILTROS */

.botones-filtros{
  display:flex;
  justify-content:center;
  gap:12px;
  margin-top:14px;
}

.btn-aplicar{
  padding:10px 22px;
  background:#ff8b8b;
  color:white;
  border:none;
  border-radius:12px;
  font-family:'Molengo', serif;
  font-size:17px;
  cursor:pointer;
  transition:0.2s;
}

.btn-aplicar:hover{
  background:#ff5c5c;
}

.btn-limpiar{
  background:#ffe4d2;
  border:none;
  border-radius:12px;
  padding:12px 18px;
  font-family:'Molengo', serif;
  font-size:16px;
  cursor:pointer;
  transition:0.2s;
}

.btn-limpiar:hover{
  background:#ffd2b8;
}


/* FILTROS EN TEXTO */

#filtros-activos{
  color: black;
  text-align: center;
  margin-top:10px;
  font-size:14px;
  margin-bottom:20px;
}


/* CONTENEDOR DE TARJETAS */

.grid{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 12px;
}


/* TARJETA */

.card{
  background:#ffffff;
  border-radius:12px;
  overflow:hidden;
  text-align:center;
  padding-bottom:6px;
  cursor:pointer;
  transition:transform 0.15s ease;
  border:3px solid #f3d3d8;
  position:relative;
}

.card:hover{
  transform:translateY(-4px);
}

.estado{
  position:absolute;
  top:8px;
  left:8px;

  padding:4px 8px;
  font-size:12px;
  font-weight:bold;

  color:white;
  border-radius:6px;
}

/* colores */

.estado-finalizado{
  background:#28a745;
}

.estado-proceso{
  background:#f4b400;
}

.estado-mtl{
  background:#e53935;
}

.estado-pendiente{
  background:black;
}


/* titulo de tarjeta */
.card h3{
  color:#ff8b8b;
  margin:5px 5px 5px;
  font-weight:600;
  display: -webkit-box;
  -webkit-line-clamp: 2;      /* máximo 2 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 40px;           /* asegura altura igual */
  align-items:center;  /* centra verticalmente */
  font-size:18px;
}

/* imagen de tarjeta */
.card img{
  width:100%; 
  height:180px;
  object-fit:cover;
  display:block;
}

/* link epub */
.links-tarjeta a{
  color:#2198a6;
  text-decoration:none;
  margin:0 6px;
  font-weight:normal;
  transition:opacity 0.2s ease;
}

.links-tarjeta a:hover{
  opacity:0.7;
}


/* Icono de estado lectura */
.estado-lectura {
  position: absolute; /* sobre la tarjeta */
  top: 8px;           /* distancia desde arriba */
  right: 8px;         /* distancia desde la derecha */
  font-size: 18px;    /* tamaño del emoji */
  background: none;   /* sin fondo */
  color: black;       /* color si quieres */
  z-index: 10;        /* sobre la imagen */
  pointer-events: none; /* para que no interfiera con clicks */
}

/* BOTÓN VOLVER ARRIBA */
#scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  color: #800180;
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 6px 18px rgba(232,139,154,0.25); /* tu color de sombra */
  z-index: 9999;
  display: none;
  transition: 0.3s;
}

#scrollTop:hover {
  background-color: #fff4ec;
  transform: scale(1.1);
}

/* ⭐ TOP BANNER */

.bottom-banner{
  width:100%;
  background:#6fc7d3;
  padding:20px 0;
  text-align:center;
}

.bottom-banner a{
  display:block;
  text-decoration:none;
  font-family:'Molengo', serif;
  font-size:18px;
  color:white;
  font-weight:500;
  margin-bottom: 10px;
}

.bottom-banner a:hover{
  text-decoration:underline;
}


/* ====== MODO CELULAR ====== */
@media (max-width:500px){

/* ⭐ PAGINA */

  .contenido{
    padding:12px;
  }


/* ⭐ TITULO: Luna Blanca */

  /* título más compacto */
  h1{
    font-size:42px;
    margin-bottom:8px;
  }


/* ⭐ BUSCADOR */

  /* buscador en una línea */
  .barra-busqueda{
    flex-direction:column;
    align-items:stretch;
    gap:8px;
  }

  #buscador{
    width:100%;
    box-sizing:border-box;
  }

  .barra-busqueda button{
    width:100%;
  }


/* FILTROS */

  .btn-filtros-movil{
    display:block;
    width:100%;
    margin-top:8px;
  }

/* Cuadro de filtros */
  .panel-filtros{
    display:none;
    background:#fff4ec;
    padding:12px;
    border-radius:12px;
  }

  .panel-filtros.activo{
    display:block;
  }

  .fila-filtros{
    display:grid;
    grid-template-columns:1fr;
    gap:8px;
  }


/* BOTONES DE LOS FILTROS */

  .dropdown{
    width:100%;
  }

  .dropdownBtn{
    width:100%;
    text-align:center;
  }

  .dropdownContenido {
    background: #fff4ec;     /* color más claro */
    border:1px solid #ffd2b8;
    margin-top:0px;
  }


/* BOTONES DE APLICAR LOS FILTROS */

  .botones-filtros{
    gap:10px;
  }

  .btn-aplicar,
  .btn-limpiar{
    flex:1;
    text-align:center;
  }


/* CONTENEDOR DE TARJETAS 2 por fila*/

  .grid{
    grid-template-columns:repeat(2, 1fr);
    gap:10px;
  }

  /* tarjetas más compactas */
  .card{
    border:2px solid #f3d3d8;
  }
  
  .card img{
    height:170px;
  }

  .card h3{
    font-size:14px;
    margin:6px 6px 4px;
    -webkit-line-clamp:3;
  }
}
